{% include 'header.html' %}

    <div class="container main" role="main">
        <div class="page-header">
            <h1>Attributes</h1>
        </div>

        <div class="row">
                <div class="col-md-6">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Character</th>
                            <th>Effect</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kryptonite</td>
                            <td>Superman</td>
                            <td>Defense 50%</td>
                        </tr>
                        <tr>
                            <td>Broken Armor</td>
                            <td>Batman</td>
                            <td>Defense 80%</td>
                        </tr>
                        <tr>
                            <td>Slow Serum</td>
                            <td>The Flash</td>
                            <td>Catch rate 50%, Defense 75%</td>
                        </tr>
                        <tr>
                            <td>Radiation</td>
                            <td>Godzilla</td>
                            <td>HP 125%</td>
                        </tr>
                        <tr>
                            <td>Heat</td>
                            <td>Killer Frost</td>
                            <td>HP 80%</td>
                        </tr>
                        <tr>
                            <td>Power Limitation</td>
                            <td>Zoom</td>
                            <td>Catch rate 25%</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

{% include 'footer.html' %}
