{% include 'header.html' %}

    <div class="container main" role="main">
        <div class="page-header">
            <h1>Martel BlackOps Center</h1>
        </div>

        <div class="row">
                <h3>Welcome, Fick Nury</h3>
                <p>The BlackOps is used for planning missions with our
                available heroes. As new heroes become available you
                may add them to the database. We also have a database for
                known villains. Choose the right heroes for a chosen mission
                to make sure we don't fail.</p>
                <h4>Good luck!</h4>
        </div>

{% include 'footer.html' %}
